.index-highlight {
    background-color: var(--azul);
}
.front-card-title {
    font-family: bebas neue;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: clamp(1rem, 4vw, 6rem);
}
.front-grid a:link {
    text-decoration: none;
    color: white;
}
.front-grid a:visited {
    text-decoration: none;
    color: white;
}
.highlight-text {
    font-family: roboto;
    color: white;
    text-align: center;
    font-size: 200%;
    align-content: center;
}
