.center-block {
    margin: 60px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-200 {
    margin-top: 200px;
}
/* Garante uma margem dinâmica pra página de forma geral */
.page-layout {
	/*padding: clamp(16px, 5vw, 50px) clamp(4px, 2vw, 16px);*/
    padding-top: clamp(16px, 5vw, 50px);
}
.flex-token {
    flex: 0 0 40%;
}
.flex {
    display: flex;
}
.flex-center {
    align-items: center;
}
.gap-dynamic {
    gap: clamp(1rem, 2vw, 2rem);
}
.gap-large {
    gap: clamp(1rem, 12vw, 10rem);
}
.flex-column {
    flex-direction: column;
}
.remove-link a:visited {
    text-decoration: none;
}
.remove-link a:link {
    text-decoration: none;
}
.iconS {
    max-width: 50px;
}
.icon-card {
    float: right;
}
.text-center {
    text-align: justify;
    margin: auto clamp(2rem, 10vw, 10rem);
    font-size: clamp(1rem, 2vw, 10rem);
    color: #ffffff;
    font-family: roboto;
    text-indent: 3vw;
}
.image-banner {
    width: 100%;
}
.grid {
    display: grid;
}
.flex-2 {
    flex: 0 66%;
}
.texto-azul {
    color: var(--azul);
}
.texto-branco {
    color: white;
}