.page-button {
    width: fit-content;
    border-radius: 48px;
    background-color: transparent;
    border: 3px solid var(--anil);
    padding: clamp(1rem, 1rem, 3rem);
    color: var(--anil);
}
.page-button:hover {
    background-color: var(--anil);
    color: #fff;
}
.page-button-text {
    font-family: montserrat;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 4rem);
    text-align: center;
    text-decoration: none;
}
.button {
    align-items: center;
    background-color: var(--azul);
    width: fit-content;
    padding: 24px;
    border-radius: 36px;
}
.button-arrow {
   max-width: 100px;
   opacity: 0.5;
}