.card {
	padding: clamp(1rem, 3vw, 3rem);
	border-radius:24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease; /* Necessário para a animação quando em hover */
}
/* Animação dos cards em hover */
.card:hover {
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.75); 
	transform: translateY(-6px);
}
.texto-card {
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    color: #ffffff;
    text-align: justify;
    font-family: roboto;
    text-indent: 2vw;
}
.card .texto-card {
    display: none;
}
.card.open .texto-card {
    display: block;
}
.front-card {
    background-color: var(--rosa);
    width: 300px; /*largura fixa dos cards*/
    padding: 72px;
    border-radius: 16px;
    text-align: center;
}
.card-large {
    background-color: var(--rosa);
    width: 768px; /*largura fixa do card principal*/
    margin: 0 auto;
    padding: 72px;
}