/* Estilização do título principal da página */
.page-title {
	font-size: 300%;
    text-align: center;
    font-family: montserrat;
    }
.home-banner {
    background-color: var(--azul);
}
.page-subtitle {
    font-size: 250%;
    text-align: center;
    font-family: montserrat;
    color: white;
}
.button-border {
    padding: clamp(1rem, 1vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 1vw, 3rem);
    border-radius: 32px;
}