.footer {
    background-color: var(--anil);
    padding: 32px;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 120px;
}
.footer-logo {
    display: grid;
    padding: 16px;
    text-align: center;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
}
.footer-logo img {
    max-height: 100px;
}
.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: max-content;
    justify-content: center;
    font-family: montserrat;
    font-size: 18px;
    gap: 0 100px;
}
