.footer {
    background-color: var(--anil);
    padding: 32px;
    color: white;
    display: flex;
    gap: 120px;
}
.innerfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    text-align: center;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
}
.innerfooter img {
    max-height: 100px;
}
.footer-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 18px;
    align-items: center;
    font-family: montserrat;
    gap: 0 100px;
}
