.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 24px 16px;
    /*border-radius: 0 0 24px 24px;*/
    /*border-radius: 24px;*/
    background-color: white;
}
.header-nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 16px;
    justify-content: center;
}
.header-card {
    position: relative;
    white-space: nowrap;
	padding: clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem);
	border-radius:24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease; /* Necessário para a animação quando em hover */
}
/* Animação dos cards em hover */
.header-card:hover {
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.75); 
	transform: translateY(-6px);
}
.rosa {
    background-color: var(--rosa);
}
.azul {
    background-color: var(--azul);
}
.verde {
    background-color: var(--verde);
}
.vermelho {
    background-color: var(--vermelho);
}
.ocre {
    background-color: var(--ocre);
}
.anil {
    background-color: var(--anil);
}
.header-text {
    font-family: bebas neue, sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: white;
}
.header-card.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 70%;              /* começa exatamente no final do card */
    width: 100%;
    height: clamp(80px, 6vw, 180px);         /* quanto ele “entra” no main */

    background-color: inherit;

    z-index: 1;
}