
.content {
    padding: 32px;
    border-radius: 24px;
    background-color: white;
    margin: 0; 
}
.page-premios {
    background-color: var(--rosa);
    /*border-radius: 24px;*/
    padding: 0;
}
.page-arcos {
    background-color: var(--azul);
    /*border-radius: 24px;*/
    padding: 0;
}
.page-npcs {
    background-color: var(--verde);
    /*border-radius: 24px;*/
    padding: 0;
}.page-campanha {
    background-color: var(--vermelho);
    /*border-radius: 24px;*/
    padding: 0;
}.page-creditos {
    background-color: var(--ocre);
    /*border-radius: 24px;*/
    padding: 0;
}.page-campeoes {
    background-color: var(--anil);
    /*border-radius: 24px;*/
    padding: 0;
}